
body{
    margin: 0;  
}
#main-header{
    background-size:cover;
    position:relative;
    margin: 0;
    font-family: Verdana;
    line-height: 30px;
    text-transform: uppercase;
}
.header{
    position: absolute;
    color: white;
}
@media (min-width:1170px){
#main-header{
    background-image:url(../obrazy/man-1.jpg);
    height: 100vh;
}
.header{
    left:5%;
    transform: translateY(-50%);
    top:50%;   
}
h1{
    font-size: 200%;
}
h2{
    font-size: 300%;
}
}
@media (min-width:992px) and (max-width:1170px){
#main-header{
    background-image:url(../obrazy/man-2.jpg);
    height: 70vh;  
}
.header{
    top:20%;  
    right:2%;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 200%;
}
}
@media (max-width:992px){
    #main-header{
    background-image:url(../obrazy/man-1.jpg);  
    height: 50vh;
}
    .header{
    text-align: center;
    color: black; 
    top:100%; 
    left: 0%;
    right: 0%;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 200%;
}
}